@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

$accent-color: #c79133;
$transition-duration: 150ms;

$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	font-family: 'Montserrat', sans-serif !important;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-section {
	padding: 70px 0;
}

.section-title {
	width: 100%;
	margin-bottom: 50px;
	color: $not-black-but-dark;

	font-size: 5rem;
	font-weight: 700;
	text-align: center;

	span {
		color: $accent-color;
	}
}

//MAIN CSS
.landing-page {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	position: relative;

	#bc-video {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.container-fluid {
		height: 100%;
		width: 100%;
		background-color: rgba(29, 25, 25, 0.85);
		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		align-items: center;

		.title-wrapper {
			width: 100%;
			padding-top: 80px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			.title {
				color: $accent-color;
				font-weight: 700;
				font-size: 5rem;
				line-height: 6rem;
			}

			.sub-heading {
				max-width: 450px;
				margin-top: 30px;
				color: #fff;
				font-size: 1.2rem;
				line-height: 1.7rem;
			}

			button {
				margin-top: 80px;
				padding: 10px 13px 8px 13px;
				background-color: rgba(0, 0, 0, 0);

				color: #fff;
				font-size: 0.8rem;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 500;

				outline: none;
				border: 2px solid #fff;
				transition-duration: $transition-duration;

				&:hover {
					color: #000;
					background-color: #fff;
				}
			}
		}
	}
}

.about {
	p {
		padding: 0 150px;

		text-align: justify;
		font-weight: 500;
		font-size: 1.2rem;
	}
}

#contact {
	form {
		//background-color: lightblue;
		display: flex;
		flex-direction: column;
		align-items: center;

		input,
		textarea {
			width: 500px;
			margin: 13px 0;
			resize: none;

			border: 2px solid $not-black-but-dark;
			outline: none;
		}

		input {
			height: 40px;
			padding: 0 13px;
		}

		textarea {
			height: 300px;
			padding: 8px 10px 10px 13px;
		}

		button {
			margin-top: 40px;
			padding: 8px 17px 6px 17px;
			background-color: rgba(0, 0, 0, 0);

			font-weight: 600;
			font-size: 0.9rem;
			letter-spacing: 1px;
			text-transform: uppercase;

			border: 2px solid $not-black-but-dark;
			outline: none;

			transition-duration: $transition-duration;

			&:hover {
				cursor: pointer;
				background-color: $not-black-but-dark;
				color: #fff;
				font-weight: 500;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.section-title {
		font-size: 4rem;
	}

	.landing-page {
		.container-fluid {
			.title-wrapper {
				.title {
					font-size: 4rem;
					line-height: normal;
				}
			}
		}
	}

	.about {
		p {
			padding: 0 20px;
		}
	}

	#contact {
		form {
			input,
			textarea {
				width: 90%;
			}
		}
	}
}

//
//
//
//
//
//
//
//
//
/*  HEADER AND NAV BAR  */

@media screen and (min-width: 900px) {
	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		display: flex;
		justify-content: center;

		.logo-wrapper {
			height: 40px;
			padding: 0 60px;

			img {
				height: 100%;
			}
		}

		nav {
			padding: 25px 40px;
			display: flex;
			align-items: center;
			//background-color: lightblue;

			a {
				font-weight: 500;
				color: #fff;
				text-transform: capitalize;
				padding: 0 20px;

				&:visited,
				&:active,
				&:link {
					text-decoration: none;
				}

				&:hover {
					color: #eeac3a;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	header {
		.logo-wrapper {
			display: none;
		}
	}

	.menu-btn {
		position: fixed;
		top: 30px;
		right: 30px;
		height: 50px;
		width: 50px;
		border-radius: 100%;
		background-color: $silver;
		color: $not-black-but-dark;
		z-index: 6;

		&:hover {
			cursor: pointer;
		}
	}

	.menu-btn::before {
		position: absolute;
		top: 0;
		left: 0;
		content: '+';
		width: 100%;
		height: 100%;
		border-radius: 100%;
		text-align: center;
		line-height: 50px;
		font-size: 40px;
		font-weight: 100 !important;
		font-family: serif;
		transition-duration: 500ms;
	}

	.menu-btn.active::before {
		transform: rotate(405deg);
		background-color: $gray;
		color: $silver;
	}

	.overlay {
		position: fixed;
		top: 30px;
		right: 30px;
		height: 50px;
		width: 50px;
		border-radius: 100%;
		background-color: #eeeeee;
		transition-duration: 700ms;
		z-index: 4;

		&.active {
			transform: scale(100, 100);
		}
	}

	.menu-container {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: -5;
		opacity: 0;
		transition: opacity 1500ms;
		@include flexcenter();

		.menu-wrapper {
			list-style: none;
			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
				letter-spacing: 5px;
				font-weight: 700;
				font-size: 3.5rem;
				color: $not-black-but-dark;

				transition-duration: 200ms;
			}

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				font-size: 68vmin;
				font-weight: 900;
				color: rgba(0, 0, 0, 0.2);
			}
		}

		.menu-underlay {
			position: absolute;
			top: 100px;
			left: 100px;
			background-color: lightblue;
		}

		&.active {
			transition-delay: 00ms;
			opacity: 1;
			z-index: 5;
		}
	}
}
